[submodule "src"]
	path = src
	url = https://github.com/itsmygithubacct/kitty.git
	branch = clickable-chrome
[submodule "third_party/kitty-frame-presenter"]
	path = third_party/kitty-frame-presenter
	url = https://github.com/itsmygithubacct/kitty-frame-presenter.git
